@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none; //importante para remover detalhes no texto//
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.infos-bar {
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.infos-bar__infos {
    display: flex;
    gap: 40px; /* Espaçamento entre os itens */
}

.infos-bar__infos__item {
    font-size: 14px;
    color: #000;
    text-align: center; /* Centraliza o texto */
}

.infos-bar__infos__item b {
    color: #000;
    font-size: 18px;
    display: block;
}